<article id="aca" class="wrapper style1">
    <div class="container">
        <header>
            <h2>Academic qualification</h2>
            <p>This section needs formatting </p>
        </header>
        <div class="card">
            <ul class="timeline">
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">University of Koblenz Landau</li>
                            <li class="h5">2016-present</li>
                            <li class="h6 text-orange">Scientific Researcher</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Investigating Hands-free ( voice, eye tracking, brain signals) interactions for the
                                web</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">University of Koblenz Landau</li>
                            <li class="h5">2016-present</li>
                            <li class="h6 text-orange">Scientific Researcher</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Responsible for the UI/UX Development of the android app</li>
                            <li>Branding of the company</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Careons Global Healthcare, India</li>
                            <li class="h5">Movenber 2015 -March 2016</li>
                            <li class="h6 text-orange">UX/UI Designer</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Responsible for the UI/UX Development of the android app</li>
                            <li>Branding of the company</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
            </ul>
        </div>
    </div>
</article>