<article id="aca" class="wrapper style1">
    <div class="container">
        <header>
            <h2>Academic qualification</h2>
            <p>This section needs formatting </p>
        </header>
        <div class="card">
            <ul class="timeline">
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">University of Koblenz Landau</li>
                            <li class="h5">2016-present</li>
                            <li class="h6 text-orange">Scientific Researcher (Doctoral)</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Investigating Hands-free ( voice, eye tracking, brain signals) interactions for the
                                web</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">University of Luxembourg</li>
                            <li class="h5">2012-2014</li>
                            <li class="h6 text-orange">Masters Programme</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Masters in Information and Computer Science</li>
                            <li>14.5/20</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">West Bengal University of Technology (WBUT)</li>
                            <li class="h5">2006-2010</li>
                            <li class="h6 text-orange">Bachelor of Technology (Engineering)</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Instrumentation and Control Engineering</li>
                            <li>8.85/10</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
            </ul>
        </div>
    </div>
</article>
