<article id="work" class="wrapper style1">
    <div class="container">
        <header>
            <h2>Professional Experience.</h2>
            <p>This section needs formatting </p>
        </header>
        <div class="card">
            <ul class="timeline">
                                    <!-- Item Start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right" style="list-style-type:disc;">
                        <ul class="timeline__points" >
                            <li class="h4">University of Koblenz Landau</li>
                            <li class="h5">04.2016-present</li>
                            <li class="h6 text-orange">Scientific Researcher</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Investigating Hands-free ( voice, eye tracking, brain signals) interactions for the Web</li>
                        </ul>
                    </div>
                </li>
                                    <!-- Item End -->

                                    <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Careons Global Health Care </li>
                            <li class="h5">11.2015-03.2016</li>
                            <li class="h6 text-orange">User Experience Designer</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Responsible for the UI/UX Development of the android applications</li>
                            <li>Branding of the company</li>
                        </ul>
                    </div>
                </li>
                                    <!-- Item End -->
                                    <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Jawaharlal Nehru University</li>
                            <li class="h5">04.2015-10.2015</li>
                            <li class="h6 text-orange">Project Researcher</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Investigated Author-Citation Framework</li>

                        </ul>
                    </div>
                </li>
                                <!-- Item End -->

                                                    <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">University of Luxembourg</li>
                            <li class="h5">08.2013-09.2014</li>
                            <li class="h6 text-orange">Research Assistant</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Investigated driver distraction on using mobile services</li>
                            <li>Investigated driver Cognitive Load with BCI devices while driving.</li>

                        </ul>
                    </div>
                </li>
                                <!-- Item End -->
                                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Development Consultants Pvt. Ltd</li>
                            <li class="h5">11.2010-09.2012</li>
                            <li class="h6 text-orange">Design Engineer</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Review Engineering of Control and Instrumentation instruments</li>
                            <li>Formulated Control-room design specifications.</li>

                        </ul>
                    </div>
                </li>
                                <!-- Item End -->
                                <!-- Item Start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Endress Hauser India Pvt. Ltd.</li>
                            <li class="h5">08.2010-10.2010</li>
                            <li class="h6 text-orange">Internal Sales</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Offered technical assistance to external sales</li>


                        </ul>
                    </div>
                </li>
                                <!-- Item End -->
            </ul>
        </div>

    </div>
</article>
