<article id="pub" class="wrapper  style1">
    <div class="container">
        <div class="section">
            <header>
                <h2>Publications</h2>
                <p><a href="">Google Scoholar</a></p>
            </header>

            <div class="publist">
                <h3 align="left"> 2020 </h3>

                <ul class="publications">
                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Bhattarai, S., Sarcar, S.,
                        MacKenzie, I. S., &amp; Staab, S. (2020). Leveraging Error Correction in Voice-based Text
                        Entry by Talk-and-Gaze. <i>Proceedings of the 2020 CHI Conference on Human Factors in
                            Computing Systems</i>. <span class="opt">[<a
                                href="https://www.bibsonomy.org/bib/publication/148b7c02991a490eacaeaf8d310a2f68/koroksengupta">BibTeX</a>]</span>
                    </li>
                    <br>
                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Sarcar, S., Pradhan, A., McNaney,
                        R., Sayago, S., Chattopadhya, D., &amp; Joshi, A. (2020). Challenges and Opportunities of
                        Leveraging Intelligent Conversational Assistant to Improve the Well-being of Older Adults.
                        <i>CHI EA '20: Extended Abstracts of the 2020 CHI Conference on Human Factors in Computing
                            Systems</i>. <span class="opt">[<a
                                href="https://www.bibsonomy.org/bib/publication/ff5cc97776263dddc90eb76684a0bfaf/koroksengupta">BibTeX</a>
                            | <a href="https://handsfreeinteraction.github.io/">Webpage</a>]</span></li>
                    <br>
                    <li class="paper-conference">Kumar, C., Menges, R., <strong>Sengupta, K.</strong>, &amp; Staab,
                        S. 2020. Eye tracking for Interaction: Evaluation Methods. In: I. Kompatsiaris, C. Kumar and
                        S. Nikolopoulos, eds., Signal Processing to Drive Human-Computer Interaction: EEG and
                        eye-controlled interfaces. The Institution of Engineering and Technology. <span
                            class="opt">[<a
                                href="https://raphaelmenges.github.io/bibliography/kumar2020mamem/">BibTeX</a>]</li>
                </ul>

                <h3 align="left"> 2019 </h3>
                <ul class="publications">
                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Menges, R., Kumar, C., &amp; Staab,
                        S. (2019). Impact of Variable Positioning of Text Prediction in Gaze-based Text Entry.
                        <i>Proceedings of the 11th ACM Symposium on Eye Tracking Research &amp; Applications</i>,
                        74:1–74:9. <span class="opt">[DOI:<a
                                href="https://doi.org/10.1145/3317956.3318152">10.1145/3317956.3318152</a> | <a
                                href="http://doi.acm.org/10.1145/3317956.3318152">URL</a> | <a
                                href="https://www.bibsonomy.org/bib/publication/efc4415989d9c50262544ef08a6ac006/koroksengupta">BibTeX</a>]</span>
                        <div class="altmetric-embed" data-badge-type="1" data-doi="10.1145/3317956.3318152"></div>
                    </li>
                </ul>

                <h3 align="left"> 2018 </h3>
                <ul class="publications">
                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Ke, M., Menges, R., Kumar, C., &amp;
                        Staab, S. (2018). Hands-free web browsing: enriching the user experience with gaze and voice
                        modality. In B. Sharif &amp; K. Krejtz (Eds.), <i>ETRA</i> (pp. 88:1–88:3). ACM. <span
                            class="opt">[ <a
                                href="http://dblp.uni-trier.de/db/conf/etra/etra2018.html#SenguptaKMKS18">URL</a> |
                            <a
                                href="https://www.bibsonomy.org/bib/publication/dc4df20e1c11d4d57b5d16765a94f43b/koroksengupta">BibTeX</a>]</span>
                    </li>
                </ul>

                <h3 align="left"> 2017 </h3>
                <ul class="publications">
                    <li class="paper-conference">Menges, R., Kumar, C., Müller, D., &amp; <strong>Sengupta,
                            K.</strong> (2017). GazeTheWeb: A Gaze-Controlled Web Browser. <i>Proceedings of the
                            14th Web for All Conference</i>. <span class="opt">[<a
                                href="https://www.bibsonomy.org/bib/publication/84d202daccac53b9626ddd5e6b2b55a7/raphaelmenges">BibTeX</a>
                            ]</span></li>
                    <br>

                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Kumar, C., &amp; Staab, S. (2017).
                        <i>Usability Heuristics for Eye-controlled User Interfaces</i>. <span class="opt">[<a
                                href="http://cogain2017.cogain.org/camready/poster3-Sengupta.pdf">URL</a> | <a
                                href="https://www.bibsonomy.org/bib/publication/88b62d6a3d4a81fe788f3b2d605fa029/koroksengupta">BibTeX</a>
                            ]</span></li>
                    <br>

                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Sun, J., Menges, R., Kumar, C.,
                        &amp; Staab, S. (2017). Analyzing the Impact of Cognitive Load in Evaluating Gaze-based
                        Typing. <i>30th IEEE International Symposium on Computer-Based Medical Systems</i>,
                        <i>Special Track on Multimodal Interfaces for Natural Human Computer Interaction: Theory and
                            Applications</i>. <span class="opt">[ <a
                                href="https://www.bibsonomy.org/bib/publication/38297047d196497940ffdb074f30343e/koroksengupta">BibTeX</a>
                            ]</span></li>
                    <br>

                    <li class="paper-conference"><strong>Sengupta, K.</strong>, Menges, R., Kumar, C., &amp; Staab,
                        S. (2017). GazeTheKey: Interactive Keys to Integrate Word Predictions for Gaze-based Text
                        Entry. <i>IUI Companion</i> (pp. 121–124). ACM. <span class="opt">[ <a
                                href="http://dblp.uni-trier.de/db/conf/iui/iui2017c.html#SenguptaMKS17">URL</a> | <a
                                href="https://www.bibsonomy.org/bib/publication/9381981808191332ed27eb76229da605/koroksengupta">BibTeX</a>]</span>
                    </li>

                    <li class="paper-conference">Louveton, N., <strong>Sengupta, K.</strong>, McCall, R., Frank, F.,
                        &amp; Engel, T. (2017). Testing a Commercial BCI Device for In-Vehicle Interfaces
                        Evaluation: A Simulator and Real-World Driving Study. <i>IJMCMC 8.2 (2017): 1-13.</i> <span
                            class="opt">[ <a
                                href="https://www.igi-global.com/article/testing-a-commercial-bci-device-for-in-vehicle-interfaces-evaluation/183627">URL</a>
                            | <a
                                href="https://www.bibsonomy.org/bib/publication/9381981808191332ed27eb76229da605/koroksengupta">BibTeX</a>]</span>
                    </li>

                    <br>

                </ul>

                <h3 align="left"> 2016 </h3>
                <ul class="publications">
                    <li class="paper-conference">Menges, R., Kumar, C., <strong>Sengupta, K.</strong>, &amp; Staab,
                        S. (20162016). <i>eyeGUI: A Novel Framework for Eye-Controlled User Interfaces</i>. <span
                            class="opt">[ <a
                                href="https://www.bibsonomy.org/bib/publication/3cbbecf77e6dc1132ed95780829deec1/raphaelmenges">BibTeX</a>]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>