<article id="skills" class="wrapper style1">
    <div class="container">
        <header>
            <h2>Skill Set</h2>
            <p>This section also needs formatting</p>

        </header>
        <div class="card">
            <ul class="timeline">
                <!-- Item start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Software</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Adobe CC</li>
                            <li>Figma</li>
                            <li>InVision</li>
                            <li>Latex</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->

                <!-- Item start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Interaction</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>User Research</li>
                            <li>Wireframing</li>
                            <li>User Testing</li>
                            <li>User Workflow</li>
                            <li>Persona Development</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
                <!-- Item start -->
                <li class="timeline__item">
                    <div class="before"></div>
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Visual</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Illustration</li>
                            <li>Drawing</li>
                            <li>Sketching</li>
                            <li>Workflow</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->

                <!-- Item start -->
                <li class="timeline__item">
                    <div class="timeline__step">
                        <div class="timeline__step__marker timeline__step__marker--orange"></div>
                    </div>
                    <div class="timeline__time text-right">
                        <ul class="timeline__points">
                            <li class="h4">Coding</li>
                        </ul>
                    </div>
                    <div class="timeline__content">
                        <ul class="timeline__points">
                            <li>Python</li>
                            <li>HTML</li>
                            <li>C</li>
                        </ul>
                    </div>
                </li>
                <!-- Item End -->
            </ul>
        </div>

    </div>
</article>